$primary_green: #58BC90;
$primary_blue: #77C9D4;

$secondary_blue_01: #89DBE5;
$secondary_blue_02: #d1d2d2;
$secondary_blue_03: #DCF2F3;
$secondary_blue_04: #e7f6f6;

$secondary_green_01: #58BC90;
$secondary_green_02: #B5E8B7;
$secondary_green_03: #DDF8DD;

$secondary_gray_01: #878787;
$secondary_gray_02: #c5c5c5;
$secondary_gray_03: #e6e6e6;
$secondary_gray_04: #f5f5f5;
$secondary_gray_05: #fafafa;

$secondary_yellow_01: #F6B245;
$secondary_yellow_02: #ffbd53;

$accent_yellow: #FDCA40;

$supporting_green: #015249;
$supporting_coral: #D84322;


//Fitness App

$fitness_primary_violet: #be9ad1;
$fitness_primary_violet_shadow: #b48dc9;
$fitness_primary_green: #DBEE71;

$fitness_secondary_violet_01: #d8c3ef;
$fitness_secondary_violet_02: #E8E3F4;