@import "../../../../../shared/styles/Colours.module.scss";
.card {
    margin: 2em;
    background-color: white;
    width: 25em;
    min-height: 35em;
    border-radius: 15px;
    padding: 1.3em 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $fitness_secondary_violet_01;
    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        width: 100%;

        .day {
            letter-spacing: 0.9rem;
        }

        .title {
            font-family: "Alfa Slab One", cursive;
            margin: 0.3em;
            font-size: 2.5em;
            text-align: center;

            .title_editor {
                display: flex;
                width: 100%;
                input {
                    font-family: "Alfa Slab One", cursive;
                    display: flex;
                    font-size: 1.5rem;
                    width: 100%;
                    color: inherit;
                    border: none;
                    border-bottom: 0.1rem solid $fitness_secondary_violet_02;
                    outline: none;
                    &:hover,
                    :active {
                        border-color: $fitness_secondary_violet_01 !important;
                    }
                }

                .edit_actions {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    color: $fitness_secondary_violet_01;
                    i {
                        cursor: pointer !important;
                        font-size: 1rem;
                        padding: 0.2rem;
                        &:hover {
                            color: $fitness_primary_violet;
                        }
                    }
                }
            }
        }

        i[class*="pi-pencil"] {
            font-size: 1rem;
            padding: 0 0.5rem;
            cursor: pointer;
            position: absolute;
            display: none;
        }

        &:hover {
            i[class*="pi-pencil"] {
                display: inline-flex;
                &:hover {
                    color: $fitness_primary_violet;
                }
            }
        }
    }
    .items {
        margin-top: 0.6em;
        display: flex;
        flex-direction: column;
        width: 100%;
        & > div {
            margin-bottom: 1em;
        }
    }

    .empty_workout {
        align-items: center;
        display: flex;
        flex-direction: column;
        min-height: 30em;
        justify-content: space-evenly;

        .text {
            font-weight: bolder;
            font-size: 1.5em;
            text-align: center;
        }
    }
    .spinner_container {
        min-height: 25em;
        display: flex;
        align-items: center;
    }
}
