@import '../../../../shared/styles/Colours.module.scss';

.container {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    color: $secondary_gray_01;
    label {
        margin: 0.5rem 0;
        font-size: 1.2rem;
    }
    input {
        color: $secondary_gray_01;
        box-shadow: none !important;
        border-color: $secondary_gray_02 !important;
        &:focus, &:hover {
            border-color: $secondary_gray_01 !important;
        }
    }
}
